<%- layout("layouts/boilerplate.ejs") %>
<h1 class="text-white">All questions</h1>
<div>

<a href="/questions/new" class="text-secondary"> Add Question</a>

  <% for(let question of questions){ %>
<div class="card mb-3 bg-dark">
    <div class="row">
        <div class="col-md-4">
            <img src="<%= question.images[0].url %>" alt="question img" class="img-fluid">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title text-white"> <%= question.title %></h4>
                <p class="card-text category">
                    <h6 class="text-secondary fs-5">
                        <%= question.category %> 
                    </h6>
                </p>
                <p class="card-text text-white"><%= question.answer.substring(0,300) %> <strong >...</strong></p>
                <a href="/questions/<%= question._id %> " class="btn btn-outline-light fs-5">View <%= question.title %>  </a>
            </div>
        </div>
    </div>
</div>
  <!-- <li><a href="/questions/<%=question._id %>"><%= question.title %></a></li> -->
  <% } %>

</div>